# Environment files
.env

# Node modules
node_modules/

# Logs
*.log

# Directory for compiled output
/dist
/build

# System files
.DS_Store
.env
checkpoints_v1/converter/checkpoint.pth
checkpoints_v2/converter/checkpoint.pth
checkpoints_v1/base_speakers/EN/checkpoint.pth
checkpoints_v1/base_speakers/ZH/checkpoint.pth
